<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur eius inventore magnam modi molestiae, natus nisi nostrum odit possimus repellat sequi soluta, tempora ut, vel? Aspernatur consequuntur cumque doloremque, dolores enim, excepturi illo, ipsum iusto magnam necessitatibus quo soluta. Aliquam amet ex incidunt laboriosam obcaecati officiis provident quibusdam. Id?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur eius inventore magnam modi molestiae, natus nisi nostrum odit possimus repellat sequi soluta, tempora ut, vel? Aspernatur consequuntur cumque doloremque, dolores enim, excepturi illo, ipsum iusto magnam necessitatibus quo soluta. Aliquam amet ex incidunt laboriosam obcaecati officiis provident quibusdam. Id?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur eius inventore magnam modi molestiae, natus nisi nostrum odit possimus repellat sequi soluta, tempora ut, vel? Aspernatur consequuntur cumque doloremque, dolores enim, excepturi illo, ipsum iusto magnam necessitatibus quo soluta. Aliquam amet ex incidunt laboriosam obcaecati officiis provident quibusdam. Id?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur eius inventore magnam modi molestiae, natus nisi nostrum odit possimus repellat sequi soluta, tempora ut, vel? Aspernatur consequuntur cumque doloremque, dolores enim, excepturi illo, ipsum iusto magnam necessitatibus quo soluta. Aliquam amet ex incidunt laboriosam obcaecati officiis provident quibusdam. Id?</p>
  </div>
</div>
